.loginBox {
    background-color: white;
    max-width: 860px;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .loginBox form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  th, td {
    color: white;
    padding-right: 10%;
  }
  
  
  /*CSS styles Added By Jerrin Eldo Mazhuvancherry P*/
  
  .main-loginpage {
      max-width: 1200px;
      margin: 0 auto;
      background-image: url(../Images/background.jpg);
      background-size: cover;
  }
  
  .login-form {
      background-color: rgb(152, 157, 183,0.7);
      width: 400px;
      height: 450px;
      margin: 45px auto;
      padding: 10px;
  }
  
  .login-form__mainheading {
      text-align: center;
  }
  
  .login-form__inputfields {
      width: 60%;
      padding: 10px;
      margin: 0 auto;
  }
  
  input[type="text"], input[type="password"] {
      background: transparent;
      border: none;
      height: 40px;
      width: 85%;
      margin: 0 auto;
      padding-left: 5px;
      color: black;
      font-size: 16px;
      margin-top: 15px;
  }
  
  ::placeholder {
      text-align: center;
      font-size: 25px;
      color: white;
      opacity: 1;
  }
  
  input:focus {
      outline: none;
  }
  
  .login-form__submitbutton {
      color: #2f3858;
      background-color: #ffffff;
      border: none;
      width: 95px;
      height: 35px;
      border-radius: 10px;
      margin-left: 140px;
      font-size: 16px;
      margin-top: 15px;
  }
  
  .login-form__submitbutton:hover {
      cursor: pointer;
      background-color: #2f3858;
      color: #ffffff;
  }
  
  .login-form__createLink {
      text-align: center;
      margin-top: 15px;
  }
  
  hr {
      width: 100%;
      height: 2px;
      color: white;
  }

  .login-form__errormessages {
    text-align: center;
    color: red;
    display: none;
  }

  /*CSS styles Added By Jerrin Eldo Mazhuvancherry P*/